@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
section{
  width: 100%;
  min-height: 92vh;
  overflow-x: hidden;
  background: #000046; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #000046, #1cb5e0); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #000046, #1cb5e0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.myNav{
  width: 100%;
  height: 60px;
  background: inherit;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.navBrand a{
  text-decoration: none;
  color: #fff;
  font-size: 26px;
  font-family: 'Philosopher', sans-serif;
  font-style: italic;
  font-weight: 400;
}
.weatherCard{
  min-width: 21rem;
  height: 27rem;
  background: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: url('https://img.freepik.com/free-photo/white-clouds-blue-background_23-2148964575.jpg?w=360');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
}
.inputArea{
  width: 100%;
  height: 70px;
  /* background: blueviolet; */
}
.typingInput{
  width: 250px;
  height: 35px;
  border-radius: 16px;
  border: 1px solid lightslategray;
  padding-left: 16px;
  position: relative;
}
.typingInput:focus{
  outline: none;
}
.glassIcon{
  position: absolute;
  left: 76%;
  cursor: pointer;
}
.glassIcon:hover{
  transform: scale(1.2);
}
.weatherDescText{
  font-family: 'Courgette', cursive;
  font-size: 26px;
}
.tempHolder{
  position: relative;
}
/* Preloader-CSS */
.preloader{
  width: 100%;
  height: 70%;
  background: inherit;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.preloader img{
  mix-blend-mode: multiply;
  width: 180px;
  height: 180px;
}
footer{
  width: 100%;
  min-height: 6vh;
  background-color: lightseagreen;
  background: whitesmoke;
}